body{
    background-color: rgb(60, 185, 235);
    color: rgba(87, 41, 255, 0.918)
}


,span{
    color: rgb(0, 68, 255);
}


section{
    padding-top: 30px;
    background-color:blue (172, 149, 201, 0.586);
    text-align: center;
}

.objetivos {
    font-size: 18px;
    padding: 18px;
    border: 0px;
}

.ativo{
    border-bottom: 3px solid rgb(0, 81, 255);
}
.textos{
    text-align:center;
} 

.aba-conteudo{
    display: none;
}

.ativa{
    display: block;
}